<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p><strong>Form was submitted and your message is below:</strong><p>
    <p><%= @message[:body] %></p>
  </body>
</html>